@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

.container {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(rgba(9, 0, 77, 0.66), rgba(9, 0, 77, 0.66)),
    url(/img/background.png);
  background-size: cover;
  background-position: center;
  padding: 10px 8%;

  .logo {
    width: 180px;
    height: 40px;
    cursor: pointer;
  }

  nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;

    ul {
      list-style: none;
      width: 100%;
      text-align: right;
      padding-right: 60px;

      li {
        display: inline-block;
        margin: 10px 20px;
        color: #fff;
        text-decoration: none;
      }
    }

    .btn {
      display: flex;
      align-items: center;
      padding: 10px 20px;
      border: 0;
      outline: 0;
      border-radius: 5px;
      background: #f5168d;
      color: #fff;
      cursor: pointer;

      img {
        width: 20px;
        margin-right: 10px;
      }
    }
  }

  .content {
    margin-top: 14%;
    color: #fff;
    max-width: 620px;

    h1 {
      font-size: 70px;
      font-weight: 600;
      line-height: 85px;
      margin-bottom: 25px;
    }

    form {
      display: flex;
      align-items: center;
      background: #fff;
      border-radius: 5px;
      padding: 10px;
      margin-top: 30px;

      input {
        border: none;
        outline: none;
        width: 100%;
        font-size: 1rem;
        padding-left: 10px;
      }
    }

    .btn {
      display: flex;
      align-items: center;
      padding: 10px 30px;
      border: 0;
      outline: 0;
      border-radius: 5px;
      background: #f5168d;
      color: #fff;
      cursor: pointer;
      font-size: 1rem;
    }
  }
}
